.card-columns {
  column-count: 3;
}

@media screen and (max-width: 1000px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (max-width: 320px) {
  .card-columns {
    column-count: 1;
  }
}

.card-img-top {
  max-height: 250px;
  object-fit: cover;
}
